---
import Layout from "../layouts/Layout.astro";
import Minutes from "../components/Minutes.astro";
import Day from "../components/Day.astro";

const seconds = 65;
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-gradient">Minutes of light remaining:</h1>
		<Minutes {seconds} />
		<Day />
	</main>
</Layout>

<style lang="scss">
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 65ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
