---
import type { Temporal } from "temporal-polyfill";

export interface Props {
  timeLeft: Temporal.Duration;
}

const { timeLeft } = Astro.props;

const hours = timeLeft.hours;
const minutes = timeLeft.minutes;
const seconds = timeLeft.seconds;
---

<p class="big">{hours}h {minutes}m {seconds}s</p>

<style lang="scss">
  p {
    text-align: center;
    &.big {
      font-size: 124px;
    }
  }
</style>
